@{
    ViewBag.Title = "订单主表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/POOrder/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/CommonModule/POOrder/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>订单主键：</th>
            <td class='formValue'>
                <input id="POOrderId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>父级主键：</th>
            <td class='formValue'>
                <input id="ParentId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>订单单号：</th>
            <td class='formValue'>
                <input id="BillNo" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>订单日期：</th>
            <td class='formValue'>
                <input id="BillDate" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>订单方式：</th>
            <td class='formValue'>
                <input id="Method" maxlength=20 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>结算方式：</th>
            <td class='formValue'>
                <input id="Clearing" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>结算日期：</th>
            <td class='formValue'>
                <input id="ClearingTime" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>币别：</th>
            <td class='formValue'>
                <input id="Currency" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>汇率：</th>
            <td class='formValue'>
                <input id="ExchangeRate" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>供应商：</th>
            <td class='formValue'>
                <input id="SupplierId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>交货地点：</th>
            <td class='formValue'>
                <input id="FetchAdd" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>采购员主键：</th>
            <td class='formValue'>
                <input id="SalesmanId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>采购员：</th>
            <td class='formValue'>
                <input id="Salesman" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>录入类型：0-PC手工录入,1-外部引入,2-PDA录入,3-手机端录入,4-其它录入：</th>
            <td class='formValue'>
                <input id="POOrderType" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>关闭：0-正常，1-作废：</th>
            <td class='formValue'>
                <input id="Cancellation" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>制单部门主键：</th>
            <td class='formValue'>
                <input id="CreateDepartmentId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>制单部门：</th>
            <td class='formValue'>
                <input id="CreateDepartmentName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>制单人主键：</th>
            <td class='formValue'>
                <input id="CreateUserId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>制单人：</th>
            <td class='formValue'>
                <input id="CreateUserName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>制单时间：</th>
            <td class='formValue'>
                <input id="CreateDate" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>提交订单；0-未提交,1-已提交：</th>
            <td class='formValue'>
                <input id="IsSubmit" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>删除标记：</th>
            <td class='formValue'>
                <input id="DeleteMark" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>变更部门主键：</th>
            <td class='formValue'>
                <input id="ModifyDepartmentId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>变更部门：</th>
            <td class='formValue'>
                <input id="ModifyDepartmentName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>变更人主键：</th>
            <td class='formValue'>
                <input id="ModifyUserId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>变更人：</th>
            <td class='formValue'>
                <input id="ModifyUserName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>变更时间：</th>
            <td class='formValue'>
                <input id="ModifyDate" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>审核状态码：</th>
            <td class='formValue'>
                <input id="AuditStatus" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>审核状态：</th>
            <td class='formValue'>
                <input id="AuditStatusName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>备注：</th>
            <td class='formValue'>
                <input id="Remark" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
