@{
    ViewBag.Title = "订单分录》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/POOrderEntry/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/CommonModule/POOrderEntry/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>订单分录主键：</th>
            <td class='formValue'>
                <input id="POOrderEntryId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>订单主键：</th>
            <td class='formValue'>
                <input id="POOrderId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>批号：</th>
            <td class='formValue'>
                <input id="BatchNo" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>物料主键：</th>
            <td class='formValue'>
                <input id="ItemId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>物料代码：</th>
            <td class='formValue'>
                <input id="ItemCode" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>物料名称：</th>
            <td class='formValue'>
                <input id="ItemName" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>物料型号：</th>
            <td class='formValue'>
                <input id="ItemModel" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>单位主键：</th>
            <td class='formValue'>
                <input id="UnitId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>数量：</th>
            <td class='formValue'>
                <input id="Qty" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>单价：</th>
            <td class='formValue'>
                <input id="Price" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>金额：</th>
            <td class='formValue'>
                <input id="PriceAmount" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>含税单价：</th>
            <td class='formValue'>
                <input id="PlusPrice" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>含税金额：</th>
            <td class='formValue'>
                <input id="PlusPriceAmount" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>税率(%)：</th>
            <td class='formValue'>
                <input id="CESS" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>税额：</th>
            <td class='formValue'>
                <input id="CESSAmount" maxlength=18 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>说明：</th>
            <td class='formValue'>
                <input id="Description" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>排序码：</th>
            <td class='formValue'>
                <input id="SortCode" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>删除标记：</th>
            <td class='formValue'>
                <input id="DeleteMark" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建时间：</th>
            <td class='formValue'>
                <input id="CreateDate" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建用户主键：</th>
            <td class='formValue'>
                <input id="CreateUserId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建用户：</th>
            <td class='formValue'>
                <input id="CreateUserName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>修改时间：</th>
            <td class='formValue'>
                <input id="ModifyDate" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>修改用户主键：</th>
            <td class='formValue'>
                <input id="ModifyUserId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>修改用户：</th>
            <td class='formValue'>
                <input id="ModifyUserName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
